@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-epica: "Epica", "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c2070;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbars but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
